<!-- First Grid -->
<div id="help" class="row-padding padding-64 container">
  <div class="content">
    <div class="twothird">
      <h1>¿Quienes somos?</h1>
      <p class="text-grey">Lift es una iniciativa solidaria que busca brindar apoyo a familias que enfrentan momentos difíciles. En esta ocasión, nuestra meta es ayudar a la familia de Luis, ofreciendo despensas, juguetes y artículos básicos para sus hijos.</p>
    </div>
    <div class="third center">
      <i class="fas fa-hand-holding-usd padding-64 theme-color-01 fa-10x"></i>
    </div>
  </div>
</div>