<!-- Third Grid -->
<div class="container black center opacity padding-64">
  <h1 class="margin xlarge">Súmate hoy y ayuda a levantar una sonrisa.</h1>
  <div class="cell-row center">
    <button style="overflow:scroll">
      <dbox-widget campaign="lift-kids-ayuda-para-la-familia-de-luis-con-despensas-y-jugetes-para-sus-hijos" type="donation_form" enable-auto-scroll="true"></dbox-widget>
    </button>
  </div>
</div>


<script is:inline type="module" src="https://donorbox.org/widgets.js" async>
</script>

