---
import image01 from '../../assets/image01.jpg'
---

<!-- Header -->
<header id="whoAre" class="container theme-bg-01 center" style="padding:128px 16px">
  <h1 class="margin jumbo">Lift</h1>
    <img class="image" src={image01.src} alt="Imagen 01" />
  <p class="container medium text-uppercase">Estamos organizando una colecta para apoyar a una familia que está pasando por un momento difícil. Nuestro objetivo es reunir $5,000 pesos para comprarles una bicicleta, juguetes para sus hijos y despensas con alimentos y artículos básicos.
Cada aporte, por pequeño que sea, puede marcar una gran diferencia en su vida. Si puedes donar o ayudar a compartir.</p>
</header>