<div>

    <!-- Navbar -->
    <div id="home" class="top">
        <div class="bar theme-bg-01 card left-align large">
            <button class="bar-item button hide-medium hide-large right padding-large hover-white large" aria-label="hamburger" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </button>
            <a href="#home" class="bar-item button padding-large white">Home</a>
            <a href="#whoAre" class="bar-item button hide-small padding-large hover-white">Quienes somos?</a>
            <a href="#help" class="bar-item button hide-small padding-large hover-white">Con tu ayuda</a>
            <a href="#here" class="bar-item button hide-small padding-large hover-white">Dona aquí</a>
        </div>
    
        <!-- Navbar on small screens -->
        <div id="navDemo" class="bar-block white hide hide-large hide-medium large">
            <a href="#whoAre" class="bar-item button padding-large">Quienes somos?</a>
            <a href="#help" class="bar-item button padding-large">Con tu ayuda</a>
            <a href="#here" class="bar-item button padding-large">Dona aquí</a>
        </div>
    </div>
    
    <!-- Header -->
    <header id="whoAre" class="container theme-bg-01 center" style="padding:128px 16px">
        <h1 class="margin jumbo">Lift</h1>
        <p class="xlarge text-uppercase">Ayuda para la familia de Luis, con despensas y jugetes para sus hijos</p>
    </header>
    
    <!-- First Grid -->
    <div id="help" class="row-padding padding-64 container">
      <div class="content">
        <div class="twothird">
          <h1>LIFT PROJECT</h1>
          <h5 class="padding-32">¿Quienes somos?</h5>    
          <p class="text-grey">Lift es una iniciativa solidaria que busca brindar apoyo a familias que enfrentan momentos difíciles. En esta ocasión, nuestra meta es ayudar a la familia de Luis, ofreciendo despensas, juguetes y artículos básicos para sus hijos.</p>
        </div>
        <div class="third center">
          <i class="fas fa-hand-holding-usd fa-10x padding-64 theme-color-01 xxx-large"></i>
        </div>
      </div>
    </div>
    
    <!-- Second Grid -->
    <div id="here" class="row-padding light-grey padding-64 container">
      <div class="content">
        <div class="third center">
          <i class="fa fa-coffee padding-64 theme-color-01 margin-right"></i>
        </div>
        <div class="twothird">
          <h1>Ayúdanos</h1>
          <h5 class="padding-32">Cada donación cuenta</h5>
          <p class="text-grey">Tu apoyo puede marcar una diferencia real en la vida de quienes más lo necesitan.</p>
        </div>
      </div>
    </div>
    
    <div class="container black center opacity padding-64">
        <h1 class="margin xlarge">Súmate hoy y ayuda a levantar una sonrisa.</h1>
        <button class="button black text-white padding-large large margin-top">
            <dbox-widget campaign="lift-kids-ayuda-para-la-familia-de-luis-con-despensas-y-jugetes-para-sus-hijos" type="donation_form" enable-auto-scroll="true"></dbox-widget>
        </button>
    </div>
    
    <!-- Footer -->
    <footer class="container padding-64 center opacity">  
      <div class="xlarge padding-32">
        <i class="fab fa-facebook hover-opacity"></i>
        <i class="fab fa-instagram hover-opacity"></i>
        <i class="fab fa-youtube hover-opacity"></i>
        <i class="fab fa-tiktok hover-opacity"></i>
        <i class="fab fa-twitter hover-opacity"></i>
        <i class="fab fa-linkedin hover-opacity"></i>
     </div>
     <p>Powered by <a href="https://www.alexestudio86.com" target="_blank">Alex Estudio 86</a></p>
    </footer>
</div>



<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>


<script is:inline type="module" src="https://donorbox.org/widgets.js" async>
</script>

<script>
    const hamburgerButton   =  document.querySelector('button[aria-label="hamburger"]');
    const navDemo           =  document.getElementById('navDemo');
    hamburgerButton.addEventListener('click', () => {
        navDemo.classList.toggle('show');
    });
</script>

<style>
    html {
        overflow: auto;
        scroll-behavior: smooth;
    }
    .theme-bg-01 {
        background-color: #63afd4;
        color: #ffffff;
    }
    .theme-color-01 {
        color: #63afd4;
    }
</style>