---
import cookiImg from "../../assets/cookie.svg";
---

<div class="aviso-cookies" id="aviso-cookies" hidden aria-hidden="true">
	<img class="galleta" src={cookiImg.src} alt="Galleta">
	<h3 class="titulo">Cookies</h3>
	<p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
	<button class="boton" id="btn-aceptar-cookies">De acuerdo</button>
	<a class="enlace" href="aviso-cookies.html" >Aviso de Cookies</a>
</div>
<div class="fondo-aviso-cookies" id="fondo-aviso-cookies" hidden aria-hidden="true"></div>


<style>

    .aviso-cookies {
        background: #fff;
        padding: 20px;
        width: calc(100% - 40px);
        max-width: 300px;
        line-height: 150%;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        padding-top: 60px;
        box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
        text-align: center;
    }

    .aviso-cookies .galleta {
        max-width: 100px;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .aviso-cookies .titulo,
    .aviso-cookies .parrafo {
        margin-bottom: 15px;
    }

    .aviso-cookies .boton {
        width: 100%;
        background: #595959;
        border: none;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 15px 20px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s ease all;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .aviso-cookies .boton:hover {
        background: #000;
    }

    .aviso-cookies .enlace {
        color: #4DBFFF;
        text-decoration: none;
        font-size: 14px;
    }

    .aviso-cookies .enlace:hover {
        text-decoration: underline;
    }

    .fondo-aviso-cookies {
        background: rgba(0,0,0,0.4);
        position: fixed;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    body.no-scroll {
    overflow: hidden;
    }

</style>


<script>

    const botonAceptarCookies = document.getElementById('btn-aceptar-cookies');
    const cookiesContainers = document.querySelectorAll('div#aviso-cookies, div#fondo-aviso-cookies');
    const bodyNoScroll = document.querySelector('body');

    dataLayer = [];

    if(!localStorage.getItem('cookies-aceptadas')){
        bodyNoScroll.classList.add('no-scroll');
        Array.from(cookiesContainers).map( cc => cc.removeAttribute('hidden') );
    } else {
        dataLayer.push({'event': 'cookies-aceptadas'});

    }

    botonAceptarCookies.addEventListener('click', () => {
        Array.from(cookiesContainers).map( cc => cc.setAttribute('hidden', true) );
        bodyNoScroll.classList.remove('no-scroll');
        localStorage.setItem('cookies-aceptadas', true);
        dataLayer.push({'event': 'cookies-aceptadas'});
    });

</script>