---
import Layout from '../layouts/Layout.astro';
	import NavbarPage01 from '../components/index/NavbarPage01.astro';
	import HeaderPage01 from '../components/index/HeaderPage01.astro';
	import Grid01Page01 from '../components/index/Grid01Page01.astro';
	import Grid02Page01 from '../components/index/Grid02Page01.astro';
	import Grid03Page01 from '../components/index/Grid03Page01.astro';
	import FooterPage01 from '../components/index/FooterPage01.astro';
---

<Layout>
	<header class="theme-bgColor-01">
		<NavbarPage01 />
		<HeaderPage01 />
	</header>
	<main>
		<Grid01Page01 />
		<Grid02Page01 />
		<Grid03Page01 />
	</main>
	<FooterPage01 />
</Layout>