---
import Layout from '../layouts/Layout.astro';
import NavbarPage01 from '../components/page-01/navbarPage01.astro';
import HeaderPage01 from '../components/page-01/headerPage01.astro';
import Grid01Page01 from '../components/page-01/grid01Page01.astro';
import Grid02Page01 from '../components/page-01/grid02Page01.astro';
import Grid03Page01 from '../components/page-01/grid03Page01.astro';
import FooterPage01 from '../components/page-01/footerPage01.astro';
---

<Layout>
    <div>
        <NavbarPage01 />
        <HeaderPage01 />
        <Grid01Page01 />
        <Grid02Page01 />
        <Grid03Page01 />
        <FooterPage01 />
    </div>
</Layout>

<style is:global>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .bar,h1,button {font-family: "Montserrat", sans-serif}
    html {
        overflow: auto;
        scroll-behavior: smooth;
    }
    .theme-bg-01 {
        background-color: #63afd4;
        color: #ffffff;
    }
    .theme-color-01 {
        color: #63afd4;
    }
</style>