/* NATIVE */

:root {
  --theme-color-one:#63afd4;
  --color-black:#000;
  --color-grey:#9e9e9e;
  --color-light-grey:#f1f1f1;
  --color-white:#fff;
}

@font-face {
  font-family:'Lato' !important;
  src:url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  font-weight: 100;
  font-style: normal;
}

html, body {
  overflow-x:hidden;
  height:100%;
  width:100%;
  scroll-behavior:smooth;
  font-family:'Lato',Verdana,sans-serif;
}

nav {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  position: sticky;
  width: 100%;
  color: inherit;
  opacity: 0.85;
  z-index: 5;
  display: flex;
  align-items: center;
}

/* Nav Container */
nav > div, header > div, main > section > div, footer > div {
  width:100%;
  max-width: 1200px;
  margin: auto;
}

nav > div > ul {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content:start;
}

/* Display mobile */
@media (width <= 576px) {
  nav > div > ul {
    display: grid;
    justify-content:center;
  }
  .d-sm {
    display:block;
  }
}

nav > div > ul > li {
  list-style: none;
  padding: 12px 24px;
  cursor: pointer;
}

nav > div > ul > li:nth-child(1) {
  background: var(--color-white);
  color: var(--color-black);
  padding: 12px 24px !important;
  text-transform:uppercase;
  font-weight:bold;
}

nav > div > ul > li > a{
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

header {
  padding: 32px 0;
  display:grid;
  grid-template-columns:1fr;
}

header > div > :is(h1, img, p){
  display:flex;
  justify-content:center;
  align-items:center;
}

header > div> h1 {
  font-size:32px;
  text-transform:uppercase;
  padding: 16px 0;
}

header > div > img {
  width:100%;
  height:100%;
  object-fit: cover;
}

header > div > p {
  font-size: 16px;
  padding: 16px 0;
}

main > section {
  padding: 32px 0;
}

footer {
  padding: 32px 0;
}


/* STRUCTURE CLASES */
.d-sm-block, .d-lg-block {
  display:none;
}

.row {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.center {
  justify-content: center; /* Centers items horizontally along the main axis */
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Display only mobile */
@media (width <= 576px) {
  .d-sm-block {
    display:block;
  }
}

/* Desktop exclude mobile */
@media (width >= 576px) {
  .d-lg-block {
    display:block;
  }
}

/* THEME CLASES*/

/* Colors */

.theme-bgColor-01, .hover-theme-bgColor-01:hover {
  background-color:var(--theme-color-one);
  color:var(--color-white);
}

.theme-color-01, .hover-theme-color-01:hover {
  color: var(--theme-color-one);
}

.white, .hover-white:hover {
  background-color:var(--color-white)!important;
  color:var(--color-black)!important
}

.grey, .hover-grey:hover {
  background-color:var(--color-grey)!important;
  color:var(--color-white)!important;
}

/* Structure */

body {
  background-color:var(--color-white);
}

main > section:nth-child(even){
  background-color:var(--color-light-grey);
}