<!-- Footer -->
<footer class="theme-bgColor-01">  
  <div class="footer container">
    <div>
      <a class="link" href="https://www.instagram.com/liftapoyo" target="_blank">
        <i class="fab fa-instagram hover-opacity fa-2x"></i>
      </a>
      <i class="fab fa-facebook disabled hover-opacity fa-2x"></i>
      <i class="fab fa-tiktok disabled hover-opacity fa-2x"></i>
    </div>
    <p style="font-size: 12px;">Powered by <a href="https://www.alexestudio86.com" target="_blank">Alex Estudio 86</a></p>
  </div>
</footer>