<!-- Footer -->
<footer class="theme-bgColor-01">  
  <div class="row">
    <div>
      <i class="fab fa-facebook hover-opacity"></i>
      <i class="fab fa-instagram hover-opacity"></i>
      <i class="fab fa-youtube hover-opacity"></i>
      <i class="fab fa-tiktok hover-opacity"></i>
      <i class="fab fa-twitter hover-opacity"></i>
      <i class="fab fa-linkedin hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://www.alexestudio86.com" target="_blank">Alex Estudio 86</a></p>
  </div>
</footer>