<!-- First Grid -->
<section id="whoAre">
  <div class="row container content">
    <div class="col-center">
      <h1 class="h1">¿Quienes somos?</h1>
      <p class="text-grey">Lift es una iniciativa solidaria que busca brindar apoyo a familias que enfrentan momentos difíciles. En esta ocasión, nuestra meta es ayudar a la familia de Luis, ofreciendo despensas, juguetes y artículos básicos para sus hijos.</p>
    </div>
    <div class="col-center">
      <i class="fas fa-hand-holding-usd theme-color-01 fa-10x"></i>
    </div>
  </div>
</section>