<!-- Second Grid -->
<section id="here">
  <div class="row container content">
    <div class="col-center">
      <i class="fa fa-coffee padding-64 theme-color-01 fa-10x"></i>
    </div>
    <div class="col-center">
      <h1 class="h1">Ayúdanos</h1>
      <p>Ayuda para la familia de Luis, con despensas y jugetes para sus hijos</p>
    </div>
  </div>
</section>