---
import image01 from '../../assets/image01.jpg'
---

<!-- Header -->
<div id="home" class='container'>
  <h1 class="header-title">Lift Apoyo</h1>
  <img src={image01.src} alt="Lift Apoyo Header" width="768px" height="420px" />
  <p class="header-description">Estamos organizando una colecta para apoyar a una familia que está pasando por un momento difícil. Nuestro objetivo es reunir $5,000 pesos para comprarles una bicicleta, juguetes para sus hijos y despensas con alimentos y artículos básicos. Cada aporte, por pequeño que sea, puede marcar una gran diferencia en su vida. Si puedes donar o ayudar a compartir.</p>
</div>